@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

.list-item-container {
    width: inherit;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 3vw;
    margin-bottom: 2vw;
}
.list-item-icon {
    margin-right: 2vw;
    height: 32px;
}
.list-txt {
    font-family: 'Song Myung', serif;
    font-size: medium;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: -webkit-fill-available;
}
#list-input {
    width: -webkit-fill-available;
    font-family: 'Song Myung', serif;
    background: transparent;
    border: hidden;
}
.check-icon {
    margin-right: 2vw;
}
.delete-icon {
    width: 33px;
    height: 33px;
    margin-right: 1vw;
}
.success-list {
    color: dimgray;
    text-decoration: line-through;
}